* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    min-width: 240px;   width:500px;

    max-width: 100%;
    overflow-x: hidden;

    padding-left: 5px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;

    background-color: #18191B;
    color: #EBFFFF;
}

#input-and-confirm-button {
    display: flex;
    flex-direction: row;
    gap: 2%;

    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
}

#website-input-box {
    width: 70%;
}

#add-website-button {
    min-width: 20%;

    background-color: #FFFFFF;

    border-radius: 3px;
    border-color: #18191B;
}

#add-current-website-button {
    margin-bottom: 15px;
    width: 100%;

    font-size: small;
    color: #c1ffff;
    text-align: center;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#website-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;
    padding-right: 0px;

    border-style: solid;
    border-color: #EBFFFF;
    border-width: 1px;
    border-radius: 4px;
}

#website-list-title {
    margin-bottom: 4px;
}

.kill-button {
    margin: 3px;
    border-radius: 0px;
    padding-left: 1px;
    padding-right: 1px;

    background-color: inherit;
    color: rgb(196, 19, 19);
}